body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black;
    color: aliceblue;
}
h1{
    font-family:serif;
    color: blueviolet;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}
a:hover{
    color:aqua;
    font-size: large;
}
p::first-letter{
    font-size: 200%;
    color: crimson;
}